{% extends "index.html" %}

{% load staticfiles %}

{% block head %}
<!-- jQuery -->
    <script src={% static "js/leapro-snow-home.js" %}></script>

    <link href={% static "css/animations.css" %} rel="stylesheet">
    <!-- Carousel -->
    <link rel="stylesheet" href={% static "css/jquery.carousel.fullscreen.css" %}>

{% endblock %}


{% block mycarousel %}

    <script type="text/javascript">
        var carousel = {{ carousel|safe }}
    </script>
        <!-- Full Page Image Background Carousel Header -->
        <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
        <!-- <div id="myCarousel" class="carousel slide"> -->
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <!-- <li data-target="#myCarousel" data-slide-to="0" class="active"></li> -->
            </ol>

            <!-- Wrapper for Slides -->
            <div class="carousel-inner">
                <!-- <div class="item active"> -->
                    <!-- Set the first background image using inline CSS below. -->
                    <!-- <div class="fill" style="background-image:url({% static 'media/img/1.jpg' %});"></div>
                    <div class="carousel-caption">
                        <h2>Caption 1</h2>
                    </div>
                </div> -->
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>

        </div>

    <script src={% static "js/home.carousel.js" %}></script>
    <script src={% static "js/bootstrap.min.carousel.support.js" %}></script>
{% endblock %}


{% block content %}
    <div class="fadein"></div>
    <div class="container white">
        <div class="text-center white" id="about">
            <div class="col-sm-12">
                <h1>{{ about_page.title }}</h1>
                <span style="font-family: 'Noto Sans TC', sans-serif; font-size: 19px">
                    <p>{{ about_page.content }}</p>
                </span>

            </div>
        </div>
        <hr>
        <div class="text-center white" id="instructors">
            <div class="col-sm-12">
                <h1 >教練群</h1>
            </div>
                <div>
                {% for instructor in instructors %}
                    <div class="col-sm-3">
                        <div class="profile-img">
                            <a href="{% url 'instructor_profile' pg_name=instructor.page_name %}">
                                <span class="instructor-img">
                                    <img class="img-circle" src="{{ instructor.img_head.url }}" alt="Generic placeholder image" width="140" height="140">
                                </span>
                            </a>
                        </div>
                        <div class="profile-description">
                            <h4 class="profile-title">
                                <a href="{% url 'instructor_profile' pg_name=instructor.page_name %}">{{ instructor.name }} {{ instructor.nick_name }}</a>
                            </h4>
                            <h4 class="profile-category">{{ instructor.statement }}</h4>
                        </div>
                    </div>
                {% endfor %}
                </div>
        </div>
    </div>
{% endblock %}
